extends ../layout

block content 
    h1 Listado de reservas
    table.table 
        thead  
            tr 
                th Desde
                th Hasta
                th Bicicleta
                th Usuario
        tbody 
            each reserva in reservas
                tr
                    td=reserva.desde
                    td=reserva.hasta
                    td=reserva.bicicleta
                    td=reserva.usuario
    a(href='/') Home
