extends ../layout

block content 
    h1 Bicis
    table.table
        thead 
            tr
                th ID 
                th Color 
                th Modelo 
                th Ubicación
        tbody 
            each bici in bicis 
                tr 
                    td=bici.id 
                    td=bici.color 
                    td=bici.modelo
                    td=bici.ubicacion
    a(href='/') Home